.header {
  font-size: 48px;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & button {
    width: 10%;
  }

  & input {
    width: 300px;
  }
}